.checkB input:checked ~ label:before { content: "\2605"; }
.checkB input { display: none; }

/* CUSTOM SQUARE */
.checkB label:before {
    display: inline-block;
    content: "\00a0"; /* Blank space */
    width: 20px;
    margin-right: 5px;
    text-align: center;
    background: #f2f2f2;
}

/* OPTIONAL COSMETICS */
.checkB {
    font-size: 16px;
    line-height: 20px;
    margin: 10px;
}
.checkB label { cursor: pointer; }
.checkB label:hover::before { background: #ddd; }
